*{
    margin:0;
    padding: 0;
    font-family: Inter;
    user-select: none;
}

body{
    color: #123644;
    background-color: #FAFFFE;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 80px;
    background-color: #FAFFFE;
    color: #123644;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: flex-end;
    box-shadow: 0 5px 5px #12364422;

}



.header-title{
    font-weight: 800;
    margin-right: auto;
}

.header-button{
    margin-right: 25px;
    font-weight: 600;
    font-size: 20px;
}

.header-button:hover{
    color: #A8D9D0;
}

.header-line{
    height: 1px;

    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

.login-container{
    top:81px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 400px;
    justify-content: flex-start;
    overflow: scroll;

}

.login-text-container{
    margin-top: -100px;
    margin-left: 200px;
}

#login-update{
    margin-left: 10vw;
    margin-top: -100px;

}

.login-subtitle{
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 5px;
}

.login-illustration{
    height: 350px;
}

.login-title{
    font-size: 80px;
    font-weight: 800;
}



#login-form{
    margin-left: 10vw;
}

#login-message{
    font-size: 12px;
}

.action-button{

    background-color: #123644;
    color: #FAFFFE;
    border: #123644 solid 2px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: fit-content;
}



#register-button{
    margin-top: 30px;
    background-color: #EF806C;
    color: #FAFFFE;
    font-weight: 600;
    border-color: #EF806C;
    margin-left: 3px;
}
#register-button:hover{
    margin-top: 30px;
    background-color: #EF806Cdd;
    color: #FAFFFE;
    font-weight: 600;
    border-color: #EF806Cdd;
    margin-left: 3px;
}



.action-button:hover{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #A8D9D0;
    border-color: #A8D9D0;
    color: #FAFFFE;
}

input{
    border: #123644 solid 2px;
    border-radius: 15px;
    padding: 10px;
    background-color: #FAFFFE;
    margin-top: 5px;
    margin-bottom: 15px;

}

input:focus{
    outline: 0;

}


#board-main-screen{
    position: relative;
    padding-top: 81px;
    height: 100vh;

}
#board-toolbox{

    width: 250px;
    position: absolute;
    right: 0;
    background-color: #FAFFFE;
    box-shadow: -5px 0 5px #12364422;
    top:81px;
    bottom: 0;

}

#color-picker{
    margin: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    grid-gap: 15px;
    height: 90px;
}

.toolbox-title{
    margin: 0 15px 15px 15px;
    text-overflow: ellipsis;

}

#toolbox-close{

    font-size: 12px;
    margin: 15px;
    color: #5D5D5D;
    font-weight: 400;
}

#toolbox-close:hover{
    text-decoration: underline;
}


.toolbox-message{
    margin: 15px;
    font-weight: 600;
}

#toolbox-styles-container{
    display: flex;
    padding: 0 25px 25px 25px;
}
#toolbox-bold{
    margin-right: 15px;
}
#toolbox-italic{

}

.toolbox-styles{
    width: 27px;
    height: 27px;
    border-radius: 5px;
    border: solid 4px #123644;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbox-styles{
    filter: invert(15%) sepia(63%) saturate(542%) hue-rotate(151deg) brightness(94%) contrast(93%);
}

.toolbox-styles-selected{
    background-color: #123644;
    width: 27px;
    height: 27px;
    border-radius: 5px;
    border: solid 4px #123644;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbox-styles-selected > img {
    filter: invert(100%) sepia(10%) saturate(800%) hue-rotate(61deg) brightness(102%) contrast(101%);
}

.toolbox-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    width: fit-content;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;

    background-color: #123644;
}

.toolbox-button:hover{


    background-color: #EF806C;
}

.toolbox-button-text{
    font-weight: 600;
    margin-right: 5px;
    color: #FAFFFE;
}

.toolbox-button-icon{
    filter: invert(100%) sepia(10%) saturate(800%) hue-rotate(61deg) brightness(102%) contrast(101%);
}

.color-picker-element{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.color-picker-element:hover{
    box-shadow: 5px 5px 5px #12364422;
    width: 36px;
    height: 36px;
}

#board-screen{

    background-color: #FAFFFE;
    padding: 50px;
    padding-right: 100px;

    right: 250px;
    left: 0px;
    position: absolute;
    top: 81px;
    bottom: 75px;

    overflow: scroll;
}
#board-container{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 50px;
    grid-column-gap: 75px;


}




.empty-view{
    width: 275px;
    height: 275px;
    background-color: #FAFFFE;

    box-shadow: inset 0px 0px 7px #12364433 ;
    border-radius: 20px;

    user-select: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-icon{
    width: 75px;
    height: 75px;
}

.empty-view:hover{
    box-shadow: 5px 5px 5px #00000022 ;
}

.color-0{
    background-color: #EF806C;
    border-color: #EF806C;
}

.color-light-0{
    background-color: #F0E2DF;
    border-color: #F0E2DF;
}

.color-1{
    background-color: #A8D9D0;
    border-color: #A8D9D0;
}

.color-light-1{
    background-color: #E8F7F4;
    border-color: #E8F7F4;
}

.color-2{
    background-color: #FBE156;
    border-color: #FBE156;
}

.color-light-2{
    background-color: #fffbce;
    border-color: #fffbce;
}

.color-3{
    background-color: #D8FFAA;
    border-color: #D8FFAA;
}

.color-light-3{
    background-color: #f0ffd0;
    border-color: #f0ffd0;
}

.color-4{
    background-color: #BCB5E9;
    border-color: #BCB5E9;
}

.color-light-4{
    background-color: #E3E3FF;
    border-color: #e3e3ff;
}

.color-5{
    background-color: #aeffff;
    border-color: #aeffff;
}

.color-light-5{
    background-color: #ddfffa;
    border-color: #ddfffa;
}

.note-view{
    width: 275px;
    height: 275px;

    box-shadow: 5px 5px 5px #00000022 ;
    border-radius: 20px;

    user-select: auto;

    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow: visible;
}



.note-title{

    margin-top: 0;
    margin-bottom: 0;

    word-break: break-all;
    resize: none;

    text-overflow: ellipsis;
    color: #FFF7F8;

    border-style: solid;
    border-radius: 20px 20px 0 0;



    text-align: center;
    padding: 15px;
    font-weight: 800;
    font-size: 18px;

    overflow: hidden;


}

#header-user-name{
    margin-right: auto;

}
#board-header-title{
    margin-right: 25px;

}
#header-user-name:hover{
    color:#123644;
}

textarea:focus{
    outline: none;

}

.note-content{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 0px 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
    resize: none;
    height: 65%;
    width: 245px;
    color: #123644;
    overflow: auto;
    word-break: break-word;
    margin: 0px 15px 0px 15px;
}

b{
    user-select: text;
}

i{
    user-select: text;
}

.note-content:focus{
    outline: none;
}

