@()

<body>


    <div class="header-line"></div>


    <div id="board-main-screen">
        <div id="board-screen">
            <div id="board-container"></div>
        </div>

        <div id="board-toolbox">

            <p id="toolbox-close">Close toolbox ></p>
            <input class="toolbox-title" id="selected-title" value="Titre de la note">

            <p class="toolbox-message">Colors :</p>
            <div id="color-picker">
                <div class="color-picker-element color-0" id="color-picker-#0"></div>
                <div class="color-picker-element color-1" id="color-picker-#1"></div>
                <div class="color-picker-element color-2" id="color-picker-#2"></div>
                <div class="color-picker-element color-3" id="color-picker-#3"></div>
                <div class="color-picker-element color-4" id="color-picker-#4"></div>
            </div>
            <p class="toolbox-message">Text style :</p>
            <div id="toolbox-styles-container">
                <div class="toolbox-styles" id="toolbox-bold">
                    <img src="/assets/images/bold.svg">
                </div>
                <div class="toolbox-styles" id="toolbox-italic">
                    <img  src="/assets/images/italic.svg">
                </div>

            </div>

            <div class="toolbox-button" id="toolbox-delete">
                <p class="toolbox-button-text">Delete</p>
                <img class="toolbox-button-icon" src="/assets/images/delete.svg">
            </div>
        </div>
    </div>
    <div class="header">
        <h1 class="header-title" id="board-header-title">Presk</h1>
        <p class="header-button" id="header-user-name">Username</p>
        <p class="header-button" id="logout-button" onclick="logout()">Logout</p>

    </div>
    <script src="/assets/javascripts/stylify.js"></script>
    <script src="/assets/javascripts/board.js"></script>
</body>