@()(implicit request: RequestHeader)

<div class="header">
    <h1 class="header-title">Presk</h1>
    <p class="header-button" id="login-button" onclick="onLoginClicked()">Login</p>
</div>
<div class="header-line"></div>
<div class="login-container">
    <div class="login-text-container">
        <h1 class="login-title">Welcome to Presk.</h1>
        <p class="login-subtitle">Your toughts in one place</p>
        <p class="action-button" id="register-button" onclick="onRegisterClicked()">Register</p>
    </div>
    <div id="login-update">
        <img class="login-illustration" src="/assets/images/Illustration.svg">
    </div>
</div>
<script src="@routes.Assets.versioned("javascripts/main.js")"></script>