@()

<form id="login-form">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username" autocomplete="off"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password">
    <p id="login-message"></p>
    <br id="login-form-return"><br>
    <p id="login-submit" class="action-button" onclick="validate()">Login</p>

</form>
