@()

<form id="register-form">
    <label for="new_username">Username</label><br>
    <input type="text" id="new_username" name="new_username" autocomplete="off"><br>
    <label for="new_email">E-mail address</label><br>
    <input type="text" id="new_email" name="new_email" autocomplete="off"><br>
    <label for="new_password">Password</label><br>
    <input type="password" id="new_password" name="new_password"><br>

    <p id="register-message"></p>
    <br id="register-form-return"><br>
    <p id="register-submit" class="action-button" onclick="registerUser()">Register to Presk</p>

</form>
